/SocketTCP/nbproject/private/
/SocketTCP/build/
/SaludarVarios/nbproject/private/
/SaludarVarios/build/
/ServidorWeb/nbproject/private/
/ServidorWeb/build/
/sockets2/nbproject/private/
/sockets2/build/
/SocketTCPMultihilo/nbproject/private/
/SoquetsTCPMultihilo/nbproject/private/
/SoquetsTCPMultihilo/build/
/Tarea2Socket/nbproject/private/
/Tarea2Socket/build/
/Tarea2Ahorcado/nbproject/private/
/Tarea2Ahorcado/build/
/24-02-Sockets/SaludarVarios/build/
/24-02-Sockets/SaludarVarios/nbproject/private/
/24-02-Sockets/ServidorWeb/build/
/24-02-Sockets/ServidorWeb/nbproject/private/
/24-02-Sockets/SocketTCP/build/
/24-02-Sockets/SocketTCP/nbproject/private/
/New Folder/Ejcercicio5Clase/nbproject/private/
/New Folder/Ejcercicio5Clase/build/
/New Folder/Ejercicio2/nbproject/private/
/New Folder/Ejercicio2/build/
