/SocketTCP/nbproject/private/
/SocketTCP/build/
/SaludarVarios/nbproject/private/
/SaludarVarios/build/
/ServidorWeb/nbproject/private/
/ServidorWeb/build/
/sockets2/nbproject/private/
/sockets2/build/
/SocketTCPMultihilo/nbproject/private/
/SoquetsTCPMultihilo/nbproject/private/
/SoquetsTCPMultihilo/build/
/Tarea2Socket/nbproject/private/
/Tarea2Socket/build/
/Tarea2Ahorcado/nbproject/private/
/Tarea2Ahorcado/build/
